// Define variables for your color scheme

// For example:
$white: #FFFFFF;
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$dark-gray: #323232;
$light-gray: #F4F4F4;
$gray:#A2A2A2;
$darker-gray: #575757;
$black-gray:#323232;
$background: #E2E2E2;



