// Specific CSS for your home-page
.cover {
  width: 300px;
  padding-bottom: 10px;
  border-radius: 20px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding-left: 10px;
}

.card {
  text-align: center;
  padding-bottom: 30px;
}

.card a {
  display: block !important;
}
