// Specific CSS for your home-page

.stick-footer {
  min-height: calc(100vh - 170px);
}

.cover {
  width: 300px;
  padding-bottom: 10px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding-left: 10px;
}

.card {
  text-align: center;
  padding-bottom: 30px;
}

.card a {
  display: block !important;
}

a {
  color: black;
  font-weight: bold;
}

a:hover {
  font-weight: bold;
  text-decoration: none;
}
