// Specific CSS for your home-page

.cover {
  width: 400px;
  padding-bottom: 10px;
}

h3 {
  text-align: center;
  padding-bottom: 20px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.card {
  text-align: center;
  padding-bottom: 30px;
}

.card a {
  display: block !important;
}

a {
  color: black;
  font-weight: bold;
}

a:hover {
  font-weight: bold;
  text-decoration: none;
  color: #DF7A44;
}
