<h1>Borrowed vinyls</h1>
<!-- <p><%= current_user.id %></p> -->
  <ul>
    <% @rentals.each do |rental| %>
      <li>Album:<%= rental.vinyl.album %> | Artist:<%= rental.vinyl.artist %></li>
    <% end %>
  </ul>
