<div class="container">
  <h1>Confirm your rental</h1>

  <%= simple_form_for [@vinyl, @rental] do |f| %>
    <%= f.input :start_date, as: :string, input_html: { class: "datepicker", value: Time.now.strftime('%d-%m-%Y') } %>
    <%= f.input :end_date, as: :string, input_html: { class: "datepicker", value: Time.now.strftime('%d-%m-%Y') } %>
    <%= f.button :submit %>
  <% end %>
</div>
