<div class="banner">
  <div class="banner-content">
    <h1>Capivinyl records</h1>
    <p>Exchanging discographies</p>
  </div>
</div>

<div class="col-sm-12 col-md-6">
  <%= render "vinyls/index" %>
</div>
