<div class="banner">
  <div class="banner-content">
    <p>“I’m a big collector of vinyl. As I’m writing a movie, I go through all those songs, trying to find good songs for fights, or good pieces of music to layer into the film.”<br> ― Quentin Tarantino</p>
  </div>
</div>

