<div class="banner">
  <div class="banner-content">
    <p><em>“I’m a big collector of vinyl. As I’m writing a movie, I go through all those songs, trying to find good songs for fights, or good pieces of music to layer into the film.”<br><br>― Quentin Tarantino</em></p>
  </div>
</div>

<h2>All vinyls</h2>

<div class="row col-xs-4 col-xs-offset-4" id="search-bar">
    <%= form_tag vinyls_path, method: :get, :class => "form-inline" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a vinyl"
      %>
      <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
    <% end %>
</div>
<br>
<br>
<br>
<div>
  <%= render "vinyls/index" %>
</div>


<!-- Clear search-bar form after search -->
<script type="text/javascript>">

$(document).ready(function () {

  $("search-bar").val("");

});
</script>
